html,body{
    height: 100%;
    overflow-x: hidden;
}

#main-cover{
    background-image: url("../images/header.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    overflow: hidden;
    align-items: center;
    display: flex;
    width: auto;
}

.btn-circle{
    border-radius: 50%;
    height: 22px; 
    font-size: 10px;
    margin-left: 6px;
}

@media only screen and (max-width: 768px){
    #main-cover{
        height: auto;
    }
}